<h2 align="center">People</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center" width=90%>
 <ng-container matColumnDef="Id">
<th mat-header-cell *matHeaderCellDef>Id</th>
<td mat-cell *matCellDef="let element">{{element.Id}}</td>
 </ng-container>
 <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.Name}}</td>
     </ng-container>
     <ng-container matColumnDef="Job">
        <th mat-header-cell *matHeaderCellDef>Job</th>
        <td mat-cell *matCellDef="let element">{{element.Job}}</td>
         </ng-container>
         <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.Email}}</td>
             </ng-container>
 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>